[tool.poetry]
name = "starbear"
version = "0.1.4"
description = "Framework for easy small local web apps or programs"
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
uvicorn = ">=0.17.6"
starlette = ">=0.27.0"
websockets = "^10.3"
hrepr = "^0.6.1"
lxml = "^4.9.3"

[tool.poetry.group.dev.dependencies]
ruff = "^0.4.2"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 99

[tool.ruff.lint]
extend-select = ["I"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.lint.isort]
combine-as-imports = true
