[tool.poetry]
name = "starbear"
version = "0.0.0"
description = ""
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
uvicorn = "^0.17.6"
starlette = "^0.20.3"
websockets = "^10.3"
hrepr = "^0.5.0"

[tool.poetry.dev-dependencies]
black = "^22.8.0"
isort = "^5.10.1"
flake8 = "^5.0.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
known_first_party = "starbear"
known_third_party = ""
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true
